.signup {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.signup__header {
    background-image: url(../../assets//img//vote-logo.png);
    background-position: center 1em;
    background-repeat: no-repeat;
    background-size: auto 1.5em;
    margin-top: 0;
    padding: 3.5em 0 0.5em;
    text-align: center;
    color: #00bfb2;
}

.signup__button {
    background-color: #00bfb2;
    border-radius: 5px;
    border: none;
    color: #efefef;
    cursor: pointer;
    padding: 0.3em 0.75em;
    transition: transform 30ms;
}
