@import '../../assets/css/base.scss';

.card {
    max-width: 275px;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;

    &__title {
        font-size: 20px;
    }

    &__name {
        color: $main-color;
        font-size: 30px;
    }

    &__expiration--date {
        margin: 15px;
    }

    &__wrapper--voices {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}