@import '../../assets/scss/base';
.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__description {
        display: block;
        width: 50%;
        margin: 5px;
        padding: 5px;
        font-family: $descr-font;
    }

    &__header {
        background-image: url(../../assets//img//vote-logo.png);
        background-position: center 1em;
        background-repeat: no-repeat;
        background-size: auto 1.5em;
        margin-top: 0;
        padding: 3.5em 0 0.5em;
        text-align: center;
        color: #00bfb2;
        font-family: $descr-font;
    }

    &__button {
        background-color: $main-color;
        color: $logo-color;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.75;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        min-width: 64px;
        padding: 5px 15px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid $logo-color;
        font-family: $descr-font;
    }
    
}

