@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

//colors
$main-color: #00bfb2;

//logo
$logo-color: #FFFFFF;
$logo-font: 'Fascinate', cursive;
$logo-fs: 30px;

//descriptopn
$descr-font: 'Roboto', sans-serif;